@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Oswald:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* ::selection {
  background-color: black;
  color: rgb(218, 136, 197);
}

header {
  background-color: #f6f0c4;
  background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
}

.navBar {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: flex-end;
  margin-right: 20px;
  flex-wrap: wrap;
}
.navBar li a {
  text-decoration: none;
}

.menu {
  font-family: "Chonburi";
  font-size: 15px;
  gap: 20px;
  color: rgb(218, 136, 197);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.254);
}

li a:hover {
  color: rgba(228, 59, 177, 0.87);
}

.logo {
  font-family: "Chonburi", cursive;
  font-size: 40px;
  color: rgb(218, 136, 197);
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.33);
  padding: 10px;
}

main {
  background-color: rgb(211, 190, 226);
}
main .banner {
  position: relative;
}
main .banner .bannerimg img {
  display: block;
}
main .textobanner {
  text-align: center;
  font-family: "Chonburi";
  font-size: 30px;
  color: khaki;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.358);
  position: absolute;
  top: 40%;
  left: 20%;
  text-decoration: none;
}
main .boton {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Chonburi";
  color: darkslateblue;
  background-color: rgba(94, 74, 206, 0.322);
  padding: 15px;
}

.buscar {
  position: absolute;
  padding: 10px;
}
.buscar .buscar imput {
  width: 240px;
  height: 40px;
  padding: 0 20px;
  font-size: 15px;
  color: darkslateblue;
  outline: none;
  border-radius: 30px;
}

.sectiontienda {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.sectiontienda .sectioncards {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 70px;
  align-items: center;
  padding: 20px 0px;
}
.sectiontienda .card img {
  display: block;
  max-width: 100%;
  height: 200px;
}
.sectiontienda .card:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.05);
  transform: rotate(-1.2deg) scale(1.05);
  transition: 0.6s ease-out;
  filter: grayscale 1;
}
.sectiontienda .titulo {
  text-align: center;
  font-family: "Chonburi";
  color: darkslateblue;
  font-size: x-small;
}
.sectiontienda .precio {
  text-align: center;
  font-family: "Chonburi";
  color: darkslateblue;
  font-size: x-small;
}
.sectiontienda .comprar {
  margin: 35%;
  font-family: "Chonburi";
  color: darkslateblue;
  font-size: small;
}

.contactanos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
.contactanos .formulario {
  width: 400px;
  background-color: beige;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.contactanos .formulario .contenedor {
  padding: 10px;
}
.contactanos .formulario .legend {
  font-size: 30px;
  font-family: "Chonburi";
  color: darkslateblue;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
.contactanos .formulario .input {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 15px;
  background-color: rgba(144, 131, 218, 0.486);
  border: none;
}
.contactanos .formulario .textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 15px;
  background-color: rgba(144, 131, 218, 0.486);
  border: none;
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
.contactanos .formulario .inputboton {
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Chonburi";
  color: darkslateblue;
  background-color: rgba(85, 76, 138, 0.411);
  border: none;
  padding: 15px;
}
.contactanos .formulario .inputboton:hover {
  background-color: rgb(130, 117, 212);
}
.contactanos .formulario .span {
  font-size: 15px;
  font-family: "Chonburi";
  color: darkslateblue;
}

.como-comprar {
  font-size: "Chonburi";
  color: darkslateblue;
  text-align: start;
  margin-left: 10%;
}

.comoComprar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
}

.comprar-texto {
  width: 500px;
  height: 400px;
  overflow: auto;
  padding: 20px;
  margin: 0 20px 20px 20px;
  background-color: #d8dede;
  background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
  box-sizing: border-box;
  font-family: "Chonburi";
  color: darkslateblue;
  text-align: center;
  line-height: 55px;
}
.comprar-texto .imgcomprar img {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin: 20px;
}

.info-extra {
  background-color: #d8dede;
  background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
}
.info-extra .extra-texto {
  font-family: "Chonburi";
  color: darkslateblue;
}

.us {
  display: flex;
  flex-wrap: wrap;
}

.cajaus {
  width: 300px;
  height: 300px;
  margin: auto;
  overflow: auto;
  background-color: #d8dede;
  background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
  box-sizing: border-box;
}
.cajaus .nosotrxs {
  font-family: "Chonburi", cursive;
  font-size: 40px;
  color: darkslateblue;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.33);
  padding: 10px;
}
.cajaus .us-p {
  font-family: "Chonburi", cursive;
  font-size: 20px;
  color: darkslateblue;
  line-height: 40px;
  text-align: center;
}

.imagenus img {
  padding: 10%;
  display: flex;
  flex-wrap: wrap;
}

.ubicacion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 30px;
}
.ubicacion .encontranos {
  font-size: small;
  font-family: "Chonburi";
  color: darkslateblue;
  margin: 10px;
  text-align: center;
  text-decoration: underline;
}

.footer {
  background-color: #f6f0c4;
  background-image: linear-gradient(315deg, #f6f0c4 0%, #d99ec9 74%);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 20%;
}

.primera {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 30px;
}
.primera .compra {
  color: darkslateblue;
  font-family: "Chonburi";
  margin-top: 5px;
  margin-left: 40px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.primera .mercadopago {
  margin-top: 2%;
}

.medio {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.itemmedio {
  color: darkslateblue;
  font-family: "Chonburi", cursive;
  line-height: 40px;
  margin-top: 30%;
}

.tercero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-end;
}
.tercero .instapic {
  margin-top: 20%;
}
.tercero .insta {
  color: darkslateblue;
  font-family: "Chonburi";
}
.tercero .seguinos {
  color: darkslateblue;
  font-family: "Chonburi";
}

.redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 20px;
  filter: opacity(0.8);
}

.copyright {
  font-family: "Chonburi";
  color: darkslateblue;
  display: flex;
  padding: 5px;
  background-color: #d99ec9;
}

@media (max-width: 768px) {
  .logo {
    font-size: medium;
  }
  .menu {
    font-size: 10px;
    gap: 5px;
  }
  .cajaus {
    margin-top: 10px;
  }
}
@media (max-width: 480px) {
  .logo {
    display: none;
  }
  .navBar {
    flex-direction: column;
    align-content: center;
  }
  .menu {
    font-size: 20px;
    padding: 10px;
  }
  .texto {
    font-size: 20px;
    top: 20%;
    left: 20%;
  }
  .cajaus {
    margin-top: 10px;
  }
  .copyright {
    font-size: x-small;
  }
}

/*# sourceMappingURL=style.css.map */
